<div class="text-center mt-20">
  <h1 class="text-3xl font-bold mb-6">✅ 결제가 완료되었습니다!</h1>
  <p class="text-xl mb-10">따르미를 이용해주셔서 감사합니다 😊</p>

  <%= link_to '🏠 홈으로 돌아가기', root_path, class: 'bg-blue-500 hover:bg-blue-600 text-white px-6 py-3 rounded-lg' %>
</div>
